.team-container-fit {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
  }
  
  .team-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1004px;
  }
  
  .team-list-box {
    display: flex;
    justify-content: center;
    align-self: center;
    /* box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1); */
    transition: all 0.3s ease-in-out;
  }
  
  .team-container .team-list-box .team-box-content {
    padding: 20px;
    display: block;
  }
  
  .team-container .team-list-box .team-box-content .team-user-avatar {
    height: 200px;
  }
  
  .team-container
    .team-list-box
    .team-box-content
    .team-user-avatar
    .team-user-avatar-image {
    height: inherit;
    width: 200px;
    border-radius: 50%;
  }
  
  .team-container .team-list-box .team-text-content .team-text-heading {
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    margin: 5px 0px 5px 0px;
  }
  
  .team-container .team-list-box .team-box-content .team-text-content .team-text {
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: rgb(255, 255, 255);
    margin: 5px 0px 5px 0px;
  }
  
  .team-box-content{
      margin-top: 2rem;
  }
  
  .team-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 3rem;
  }
  
  .team-box {
    margin-top: 1rem;
    text-align: center;
    padding: 1.5rem 2rem;
    /* background-color: #eeeeee; */
    border-radius: 10px;
    /* border: 1px solid #eeeeee; */
    box-shadow: var(--shadow);
  }

  .team-box-text {
    color: #000;
    font-weight: 420;
  }
  
  .team-box-text-b {
    color: gray;
    font-weight: 400;
  }
  
  .team-header-content{
    margin: 60px 0px 0px 0px;
  }
  
  .team-header-heading {
    font-size: 2rem;
    color: #009245;
    text-align: center;
  }
  
  .team-header-paragraqh {
    text-align: center;
    line-height: 2.0rem;
    margin-top: 7px;
    font-weight: 401;
  }
  
  .team-box-header {
    color: gray;
    padding: 7px;
  }

  .team-box-button{
      background: none;
      border: 2px solid rgb(16, 172, 24);
      padding: 1rem;
      color: #009245;
      border-radius: 14px;
      margin-top: 1rem;
  }
  
  .team-box-button:hover {
    color: blue;
  }
  
  .team-box .startUpTeam-image-box .startUpTeam-image {
    max-width: 300px;
    height: 200px;
    border-radius: 50%;
  }

.bio-text-heading{
  color: black;
}
.bio-text-paragraph{
  color: black;
  font-size: 1rem;
}

.bio-image{
  border-radius: 50%;
  position: relative;
  /* -ms-flex-align: center; */
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 30%;
}

.bio-margin{
  margin-top: 10rem;
  margin-bottom: 10rem;
}
